extends layout

block head
  link(rel='stylesheet', href='/stylesheets/dashboard.css')
  script(src="/javascripts/dashboard.js")

block header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .brand Settle
        ul.nav.pull-right
          li.dropdown
            a(href="#", data-toggle="dropdown").dropdown-toggle.me
              img(src="http://graph.facebook.com/#{user.id}/picture?type=square")
              | #{user.first_name}
              = ' ( '
              span.wins #{user.wins}
              = ' - '
              span.loses #{user.loses}
              = ' ) '
              b.caret
            ul.dropdown-menu
              li
                a(href="\logout") Log Out
block content
  .container
    .row
      .span12
        .page-header
          h1 Current Games
            small
              a.btn(href="/game", style="float:right;").btn-large Create Game
        .row
          .span12
            ul.thumbnails
              - for (var i = 0; i < games.length; i++)
                li.span2
                  a(href="/game/#{games[i].id}").thumbnail
                    .row
                      .span2
                        if (games[i].players.length > 0)
                          img(src="http://graph.facebook.com/#{games[i].players[0].user_id}/picture?type=square").small
                        else
                          img(src="http://i.imgur.com/TFOqB.jpg").small
                        if (games[i].players.length > 1)
                          img(src="http://graph.facebook.com/#{games[i].players[1].user_id}/picture?type=square").small
                        else
                          img(src="http://i.imgur.com/TFOqB.jpg").small
                    .row
                      .span2
                        if (games[i].players.length > 2)
                          img(src="http://graph.facebook.com/#{games[i].players[2].user_id}/picture?type=square").small
                        else
                          img(src="http://i.imgur.com/TFOqB.jpg").small
                        if (games[i].players.length > 3)
                          img(src="http://graph.facebook.com/#{games[i].players[3].user_id}/picture?type=square").small
                        else
                          img(src="http://i.imgur.com/TFOqB.jpg").small
