extends game-layout

block title
  title= 'Game ' + title + ' | Settle'

block head
  link(rel='stylesheet', href='/stylesheets/board.css')
  link(rel='stylesheet', href='/stylesheets/game.css')
  script(src="/javascripts/game.js")

block board
  a#start.btn.btn-primary.btn-large.disabled Waiting...
  #startBackground
  include includes/board
block remove
  .remove-popup
    .remove-cards
     .cards
        .remove-card
          .wheat-card
          .card-number.js-wheat-number 0
        .remove-card
          .wood-card
          .card-number.js-wood-number 0
        .remove-card
          .sheep-card
          .card-number.js-sheep-number 0
        .remove-card
          .brick-card
          .card-number.js-brick-number 0
        .remove-card
          .stone-card
          .card-number.js-stone-number 0
  .trade-actions
    .btn-toolbar
      .btn-group
        button.btn.resetRemove Reset
      .btn-group
        button.btn.bank.removebtn.disabled Remove x More Cards

block trade
  .trade-popup
    .offer-cards
      .trade-text
        p Offer:
      .cards.trade
        .trade-card
          .wheat-card
          .card-number.js-wheat-number 0
        .trade-card
          .wood-card
          .card-number.js-wood-number 0
        .trade-card
          .sheep-card
          .card-number.js-sheep-number 0
        .trade-card
          .brick-card
          .card-number.js-brick-number 0
         .trade-card
          .stone-card
          .card-number.js-stone-number 0
    .for-cards
      .trade-text 
        p For:
      .cards.trade
        .trade-card
          .wheat-card
          .card-number.js-wheat-number 0
        .trade-card
          .wood-card
          .card-number.js-wood-number 0
        .trade-card
          .sheep-card
          .card-number.js-sheep-number 0
        .trade-card
          .brick-card
          .card-number.js-brick-number 0
        .trade-card
          .stone-card
          .card-number.js-stone-number 0
  .trade-actions
    .btn-toolbar
      .btn-group
        button.btn.reset Reset
      .btn-group
        button.btn.bank.disabled Bank
      .btn-group
        button.btn.offerbtn Offer

block bars
  - var diceRolls = [2,3,4,5,6,7,8,9,10,11,12];
  .bar-container
    .bar-padding
    for roll in diceRolls
      .bars
        | <div class="bar" id="bar#{roll}"></div>

block labels
  .label-container
    .label-padding
    for roll in diceRolls
      .frequency-label #{roll}

block player
  #player0
    .player.well
      .left
        img(src='http://i.imgur.com/TFOqB.jpg').pic
        h3.name Empty
      .right
        .cards
          .card
            .wheat-card
            .card-number.js-wheat-number 0
          .card
            .wood-card
            .card-number.js-wood-number 0
          .card
            .sheep-card
            .card-number.js-sheep-number 0
          .card
            .brick-card
            .card-number.js-brick-number 0
          .card
            .stone-card
            .card-number.js-stone-number 0
          .card
            .development-card
            .card-number.js-development-number 0
        br.clearBoth
        .points
          .victory-points
            span.descriptor= 'V: '
            span.value.js-victory-value 0
          .road-points
            span.descriptor= 'R: '
            span.value.js-road-value 0
          .army-points
            span.descriptor= 'A: '
            span.value.js-army-value 0
        br.clearBoth

block actions
  .actions
    .btn-toolbar.waiting-phase
      .btn-group
        button.btn.big.disabled Waiting...
    .btn-toolbar.place-phase
      .btn-group
        button.btn.big.disabled Place
    .btn-toolbar.roll-phase
      .btn-group
        button.btn.roll Roll
      .btn-group
        button.btn.development Development
    .btn-toolbar.robber-phase
      .btn-group
        button.btn.big.disabled Move the Robber
    .btn-toolbar.steal-phase
      .btn-group
        button.btn.big.disabled Select Player to Steal From
    .btn-toolbar.main-phase
      .btn-group
        button.btn.dropdown-toggle(data-toggle="dropdown")
          | Build <span class="caret" />
        ul.dropdown-menu
          li
            a#settlement
              i.icon-home
              | Settlement
              span.brick &bull;
              span.sheep &bull;
              span.wheat &bull;
              span.wood  &bull;
          li
            a#city
              i.icon-home
              | City
              span.stone &bull;
              span.stone &bull;
              span.stone &bull;
              span.wheat &bull;
              span.wheat &bull;
          li
            a#road
              i.icon-road
              | Road
              span.brick &bull;
              span.wood  &bull;
          li
            a#development
              i.icon-book
              | Development
              span.stone &bull;
              span.wheat &bull;
              span.sheep &bull;
      .btn-group
        button.btn.tradebtn.popupShow Trade
    .btn-toolbar.main-phase
      .btn-group
        button.btn.dropdown-toggle(data-toggle="dropdown")
          | Development <span class="caret" />
        ul.dropdown-menu
          li
            a#knight
              span.amount
              i.icon-fire
              | Knight
          li
            a#yearOfPlenty
              span.amount
              i.icon-gift
              | Year of Plenty
          li
            a#monopoly
              span.amount
              i.icon-resize-small
              | Monopoly
          li
            a#roadBuilding
              span.amount
              i.icon-road
              | Road Building
      .btn-group
        button.btn.end End

block others
  #player1
    include includes/opponent
  #player2
    include includes/opponent
  #player3
    include includes/opponent

block messages
  .message.well
    h2 Messages
    #frequencyChart.chartShow
      | <image src = "http://www.cs.princeton.edu/~dcapra/frequencyChart.png"></img>
    #messages
    form#messageForm
      input#messageInput(type="text")

block extras
