extends game-layout

block title
  title= 'Game ' + title + ' | Settle'

block head
  link(rel='stylesheet', href='/stylesheets/board.css')
  link(rel='stylesheet', href='/stylesheets/game.css')
  script
    CONFIG = {
      room: "#{id}",
      token: "#{token}",
    };
  script(src="/javascripts/game.js")

block board
  a#start.btn.btn-primary.btn-large.disabled Waiting...
  #win
    .txt You won!
    #winSpace
    .btn-toolbar
      .btn-group
        a(href="../dashboard").btn.btn-primary.btn-large#lobby
           | Back to lobby
  #startBackground
  include includes/board
block remove
  .remove-popup
    .remove-cards
     .cards
        .remove-card
          .wheat-card
          .card-number.js-wheat-number 0
        .remove-card
          .wood-card
          .card-number.js-wood-number 0
        .remove-card
          .sheep-card
          .card-number.js-sheep-number 0
        .remove-card
          .brick-card
          .card-number.js-brick-number 0
        .remove-card
          .stone-card
          .card-number.js-stone-number 0
  .trade-actions
    .btn-toolbar
      .btn-group
        button.btn.resetRemove Reset
      .btn-group
        button.btn.bank.removebtn.disabled Remove x More Cards
block updateCards
  .update-popup
   .update-cards
      .cards.received
        .update-card
          .wheat-card
          .card-number.js-wheat-number 0
        .update-card
          .wood-card
          .card-number.js-wood-number 0
        .update-card
          .sheep-card
          .card-number.js-sheep-number 0
        .update-card
          .brick-card
          .card-number.js-brick-number 0
        .update-card
          .stone-card
          .card-number.js-stone-number 0
        .update-card
          .resource-card
          .card-number.js-resource-number 0

block trade
  .trade-popup
    .offer-cards
      .trade-text
        p I give:
      .cards.trade
        .trade-card
          .wheat-card
          .card-number.js-wheat-number 0
        .trade-card
          .wood-card
          .card-number.js-wood-number 0
        .trade-card
          .sheep-card
          .card-number.js-sheep-number 0
        .trade-card
          .brick-card
          .card-number.js-brick-number 0
         .trade-card
          .stone-card
          .card-number.js-stone-number 0
    .for-cards
      .trade-text
        p I get:
      .cards.trade
        .trade-card
          .wheat-card
          .card-number.js-wheat-number 0
        .trade-card
          .wood-card
          .card-number.js-wood-number 0
        .trade-card
          .sheep-card
          .card-number.js-sheep-number 0
        .trade-card
          .brick-card
          .card-number.js-brick-number 0
        .trade-card
          .stone-card
          .card-number.js-stone-number 0
  .trade-actions
    .btn-toolbar
      .btn-group
        button.btn.reset Reset
      .btn-group
        button.btn.bank.disabled Bank
      .btn-group
        button.btn.offerbtn Offer

block bars
  - var diceRolls = [2,3,4,5,6,7,8,9,10,11,12];
  .bar-container
    .bar-padding
    for roll in diceRolls
      .bars
        | <div class="bar" id="bar#{roll}"><div class="bartext" id="bartext#{roll}">0</div></div>
  #list-container

block labels
  .label-container
    .label-padding
    for roll in diceRolls
      .frequency-label #{roll}
  .btn-toolbar.frequency-toolbar
    .btn-group
      .button.btn.list List
    .btn-group
      .button.btn.chart.active Chart

block player
  #player0
    .player.mywell#p0mywell
      #myleft.left
        img(src='http://i.imgur.com/TFOqB.jpg', width=200, height=150).pic#MY_VIDEO
      #myright.right
        h3.name Empty
        .cards
          .card
            .wheat-card
            .card-number.js-wheat-number 0
          .card
            .wood-card
            .card-number.js-wood-number 0
          .card
            .sheep-card
            .card-number.js-sheep-number 0
          .card
            .brick-card
            .card-number.js-brick-number 0
          .card
            .stone-card
            .card-number.js-stone-number 0
          .card
            .development-card
            .card-number.js-development-number 0
        br.clearBoth
        .points
          .victory-points
            span.descriptor= 'Victory: '
            span.value.js-victory-value 0
          .road-points
            span.descriptor= 'Road: '
            span.value.js-road-value 0
          .army-points
            span.descriptor= 'Army: '
            span.value.js-army-value 0
        br.clearBoth

block actions
  .actions
    img(src='http://www.cs.princeton.edu/~dcapra/frequencyChart.png')#frequencyChart.chartShow
    .btn-toolbar.waiting-phase
      .btn-group
        button.btn.big.disabled Waiting...
    .btn-toolbar.place-phase
      .btn-group
        button.btn.big.disabled Place
        button.btn.big#cancel Cancel
    .btn-toolbar.roll-phase
      .btn-group
        button.btn.roll Roll
      .btn-group
        button.btn.knight Knight
    .btn-toolbar.robber-phase
      .btn-group
        button.btn.big.disabled Move the Robber
    .btn-toolbar.steal-phase
      .btn-group
        button.btn.big.disabled Select Player to Steal From
    .btn-toolbar.road-building-phase
      .btn-group
        button.btn.big.disabled Pick an edge to put a road
    .btn-toolbar.monopoly-phase
      .btn-group
        button.btn.wheat Wheat
        button.btn.stone Stone
        button.btn.wood  Wood
        button.btn.brick Brick
        button.btn.sheep Sheep
    .btn-toolbar.year-of-plenty-phase
      .btn-group
        button.btn.wheat Wheat
        button.btn.stone Stone
        button.btn.wood  Wood
        button.btn.brick Brick
        button.btn.sheep Sheep
    .btn-toolbar.main-phase
      .btn-group
        button.btn.dropdown-toggle(data-toggle="dropdown")
          | Build <span class="caret" />
        ul.dropdown-menu
          li
            a#settlement
              span.amount 0
              i.icon-home
              | Settlement
              span.brick &bull;
              span.sheep &bull;
              span.wheat &bull;
              span.wood  &bull;
          li
            a#city
              span.amount 0
              i.icon-home
              | City
              span.stone &bull;
              span.stone &bull;
              span.stone &bull;
              span.wheat &bull;
              span.wheat &bull;
          li
            a#road
              span.amount 0
              i.icon-road
              | Road
              span.brick &bull;
              span.wood  &bull;
          li
            a#development
              span.amount 0
              i.icon-book
              | Development
              span.stone &bull;
              span.wheat &bull;
              span.sheep &bull;
      .btn-group
        button.btn.tradebtn.popupShow Trade
    .btn-toolbar.main-phase
      .btn-group
        button.btn.dropdown-toggle(data-toggle="dropdown")
          | Development <span class="caret" />
        ul.dropdown-menu
          li
            a#knight
              span.amount
              i.icon-fire
              | Knight
          li
            a#yearOfPlenty
              span.amount
              i.icon-gift
              | Year of Plenty
          li
            a#monopoly
              span.amount
              i.icon-resize-small
              | Monopoly
          li
            a#roadBuilding
              span.amount
              i.icon-road
              | Road Building
           li
             a#victoryCards.disabled
               span.amount
               i.icon-star-empty
               | Victory Cards
      .btn-group
        button.btn.end End

block others
  .others
    #player1
      .opponent.player.mywell#p1mywell
        .opponentvideo#oppvideo1
          img(src='http://i.imgur.com/cGxvu.png').video#VIDEO1
        include includes/opponent
    #player2
      .opponent.player.mywell#p2mywell
        .opponentvideo#oppvideo2
          img(src='http://i.imgur.com/cGxvu.png').video#VIDEO2
        include includes/opponent
    #player3
      .opponent.player.mywell#p3mywell
        .opponentvideo#oppvideo3
          img(src='http://i.imgur.com/cGxvu.png').video#VIDEO3
        include includes/opponent

block messages
  .message.mywell
    h2 Messages
    #frequencyChart.chartShow
      | <image src = "http://www.cs.princeton.edu/~dcapra/frequencyChart.png"></img>
    #messages
    form#messageForm
      input#messageInput(type="text")

block extras
